.label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 35px;
  margin-top: 40px;
}

.label2 {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 100px;
}

.horizontal-line {
  border-top: 1px solid black;
  width: 100%;
  margin-bottom: 20px;
  position: absolute;
  left: 90px;
}

.images {
  transform: translateY(20px);
  border-radius: 20px;
}

.apartment {
  background: #A0B3F6;
  padding: 30px;
  margin-left: 240px;
  margin-top: 30px;
  border-radius: 60px;
  display: inline-block;
  height: 260px;
  width: 200px;
  transform: translateY(20px);
  display: inline-block;
}

.apartment p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.image-container {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.label3-wrapper {
    transform: translateY(30px);
}

.house-list {
    transform: translateY(30px);
}

.label4-wrapper {
    transform: translateY(30px);
}

.studio-list {
    transform: translateY(30px);
}

.video {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(10px);
}